# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local
server/data/*.db
server/data/*.db-*
.env
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
.vercel
client/package.json.bak
client/README.md.bak

